doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css')
  body
    h1 Faïssal Hattou - Développeur web
    ul#navbar
      li
        a(href="/") HOME
      li
        a(href="/skills") SKILLS
      li
        a(href="/dream") DREAM
      li
        a(href="/contact") CONTACT

            
    block content
