extends layout

block content
  h2 SKILLS
  ul#skills-list
    li HTML/CSS 
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle  
    li JavaScript
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
    li React
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle

    
